POSTGRES_DB=usbank
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5433
JWT_SECRET=changeme_minimum_32_characters_required!
INTEGRATIONS_ACH_URL=http://localhost:6001
INTEGRATIONS_SWIFT_URL=http://localhost:6002
INTEGRATIONS_CARDS_URL=http://localhost:6003
INTEGRATIONS_BLIK_URL=http://localhost:6004